@import "tailwindcss";

body {
    background-color: #0c0c0c;
}

@keyframes shimmer {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}

.animate-shimmer {
    animation: shimmer 2s linear infinite;
}